.reveal {
  opacity: 0;
  animation: reveal 1000ms ease-out 0ms 1 normal forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
