@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin beyond-mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin beyond-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin beyond-laptop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
