// colors
$nav-color: rgba(0, 0, 0, 1);
$nav-text: #ffffff;

// $body-color: rgb(236, 236, 236);
$body-color: rgb(255, 255, 255);

$accent-color: #4a00ff;
$accent-color-shadow: #330099;
$accent-color-secondary: rgb(195, 135, 255);
$text-color: black;
$alpha-color: rgba(0, 0, 0, 0.7);

$text-color-rev: white;
$alpha-color-rev: rgba(255, 255, 255, 0.7);

$background-secondary: #1d1d1f;

// sizes
$tablet: 768px;
$mobile: 480px;
// $main-font: ;
