:root {
  --white: #fff;
  --gray9: #e6e6e6;
  --gray8: #ccc;
  --gray7: #b3b3b3;
  --gray6: #999;
  --gray5: #808080;
  --gray4: #666;
  --gray3: #4d4d4d;
  --gray2: #333;
  --gray1: #1a1a1a;
  --black: #000;

  --bg: rgb(250, 250, 250);
  --card-bg: #fff;

  --black-transparent08: rgba(0, 0, 0, 0.8);
  --black-transparent06: rgba(0, 0, 0, 0.6);
  --black-transparent04: rgba(0, 0, 0, 0.4);
  --black-transparent02: rgba(0, 0, 0, 0.2);
  --black-transparent01: rgba(0, 0, 0, 0.1);
  --black-transparent004: rgba(0, 0, 0, 0.04);

  --white-transparent08: rgba(255, 255, 255, 0.8);
  --white-transparent06: rgba(255, 255, 255, 0.6);
  --white-transparent04: rgba(255, 255, 255, 0.4);
  --white-transparent02: rgba(255, 255, 255, 0.2);
  --white-transparent01: rgba(255, 255, 255, 0.1);
  --white-transparent004: rgba(255, 255, 255, 0.04);

  // --theme-color:#fcfcfc;
  // --theme-color:#000;

  --bg-color: var(--bg);
  --bg-color-secondary: var(--gray8);
  --bg-color-tertiary: var(--gray6);
  --bg-color-trans8: var(--white-transparent08);
  --bg-color-trans6: var(--white-transparent06);
  --bg-color-trans4: var(--white-transparent04);
  --bg-color-trans2: var(--white-transparent02);
  --bg-color-trans1: var(--white-transparent01);
  --bg-color-trans004: var(--white-transparent004);

  --text-color: var(--black);
  --text-color-secondary: var(--gray2);
  --text-color-tertiary: var(--gray4);

  --border-color: var(--gray8);
  --border-color-transparent: var(--black-transparent02);
  --overlay-color: var(--black-transparent004);
}

// sizes
$tablet: 768px;
$mobile: 480px;
