@use '../utils/variables';
@use '../utils/mixins';

main.about {
  h1 {
    margin-bottom: 3rem;
    @include mixins.mobile {
      font-size: 3rem;
    }
  }
  article {
    p {
      width: 100%;
      line-height: 1.4;
    }
    p:nth-child(even) {
      margin-top: 1.25em;
      border-bottom: 1px solid var(--border-color);
      padding-bottom: 3em;
    }
    p:nth-child(odd) {
      margin-top: 3em;
    }
    p:nth-last-child(1) {
      border-bottom: none;
    }
    p:nth-child(1) {
      margin-top: 0;
    }
  }
}
