@use '../utils/variables';
@use '../utils/mixins';

main.about {
  article {
    width: inherit;

    .paragraphWrapper {
      margin-top: 5rem;
      width: 100%;
      p {
        line-height: 1.4;
        margin-bottom: 2rem;
      }
    }
    .firstWrapper {
      margin-top: 2rem;
    }
  }
}
