@use '../utils/variables';

main.contact {
  max-width: variables.$mobile;
  min-height: variables.$mobile;
  // min-height: calc(100vh);

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;

    input,
    textarea {
      padding: 0.5rem;

      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 0.2rem;
      outline: none;
    }
    textarea {
      border: 2px solid rgba($color: #000000, $alpha: 0.2);
      transition: border 250ms ease-in;
      height: 5rem;
    }
    textarea:focus,
    textarea:hover {
      border: 2px solid variables.$background-secondary;
    }
    input[type='text'],
    input[type='email'] {
      font-size: 1.1rem;

      border-bottom: 2px solid variables.$background-secondary;

      transition: border 250ms ease-in;
    }
    input:focus {
      border: 2px solid variables.$background-secondary;
    }
  }
  input[type='submit'] {
    font-size: 1.1rem;
    background-color: variables.$background-secondary;
    border: 2px solid transparent;
    color: white;
    font-weight: bold;

    cursor: pointer;
  }
}
