@use '../utils/variables';
@use '../utils/mixins';
main.contact {
  max-width: variables.$mobile;
  min-height: calc(100vh - 4rem - 227px);

  h1 {
    margin-bottom: 3rem;
    @include mixins.mobile {
      font-size: 3rem;
    }
  }

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.2rem;

    input,
    textarea {
      padding: 0.5rem;

      background-color: transparent;
      border: 2px solid transparent;
      border-radius: 0.2rem;
      outline: none;
    }
    textarea {
      border: 2px solid var(--border-color);
      transition: border 250ms ease-in;
      height: 5rem;
    }
    textarea:focus {
      border: 2px solid var(--text-color);
    }
    input[type='text'],
    input[type='email'] {
      font-size: 1.1rem;

      border-bottom: 2px solid var(--border-color);

      transition: border 250ms ease-in;
    }
    input:focus {
      border: 2px solid var(--text-color);
    }
  }
  input[type='submit'] {
    font-size: 1.1rem;
    background-color: var(--text-color);
    border: 2px solid transparent;
    color: var(--bg-color);
    font-weight: bold;

    cursor: pointer;
  }
}
