.app.dark {
  --card-bg: var(--gray1);
  --bg-color: var(--black);
  --bg-color-secondary: var(--gray2);
  --bg-color-tertiary: var(--gray4);
  --bg-color-trans8: var(--black-transparent08);
  --bg-color-trans6: var(--black-transparent06);
  --bg-color-trans4: var(--black-transparent04);
  --bg-color-trans2: var(--black-transparent02);
  --bg-color-trans1: var(--black-transparent01);
  --bg-color-trans004: var(--black-transparent004);

  --text-color: var(--white);
  --text-color-secondary: var(--gray8);
  --text-color-tertiary: var(--gray6);

  --border-color: var(--gray2);
  --border-color-transparent: var(--white-transparent02);
  --overlay-color: var(--white-transparent004);

  //   main {
  //     .card,
  //     .card:hover {
  //       box-shadow: none;
  //     }
  //   }
}
