@use '../utils/variables';
@use '../utils/mixins';

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 1rem;

  width: 100vw;
  padding: 20px;
  font-size: 12px;

  background-color: variables.$background-secondary;
  color: rgb(110, 110, 110);

  @include mixins.mobile {
    flex-direction: column;
    align-items: flex-start;
  }
  .footerWrapper div,
  ul {
    color: rgb(250, 250, 250);
    font-weight: 600;
    li {
      font-weight: 400;
      list-style: none;
      a,
      a:visited {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
      }
      a:hover,
      a:visited:hover {
        color: rgb(250, 250, 250);
      }
    }
  }
}

// Footer styling for homepage

header + footer {
  color: variables.$accent-color-secondary;
  background-color: variables.$accent-color-shadow;
  .footerWrapper div,
  ul {
    color: inherit;
    li {
      color: variables.$accent-color-secondary;
      a,
      a:visited {
        color: rgba($color: #ffffff, $alpha: 0.5);
      }
      a:hover,
      a:visited:hover {
        color: rgba($color: #ffffff, $alpha: 0.7);
      }
    }
  }
}

// Footer styling for contact

.contact + footer {
  position: absolute;
  bottom: 0;
}
