@use '../utils/variables';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: variables.$body-color;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    // overflow-x: hidden;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Fix Safari overflow issue */
// #root,
// html,
// body {
// width: 100vw;
// width: 100%;

// overflow-x: hidden;
// position: relative;
// height: 100%;
// }
