@use '../utils/variables';
@use '../utils/mixins';

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;

  min-height: calc(100vh - 4rem);

  padding: 0 1rem;
  padding-top: 1rem;

  gap: 1rem;
  font-size: 1rem;

  color: var(--text-color);
  fill: var(--text-color);

  overflow: hidden;

  font-family: 'Poppins', Arial, Helvetica, sans-serif;

  @include mixins.mobile {
    font-size: 0.8rem;
  }

  img {
    height: 350px;
    width: auto;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 1px solid var(--bg-color-secondary);

    @include mixins.mobile {
      height: 200px;
    }
    @include mixins.tablet {
      margin-bottom: 5rem;
    }
  }
  .titleWrapper {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 3rem;
      line-height: 4rem;
      font-weight: 900;
      color: inherit;
      @include mixins.mobile {
        font-size: 2.5rem;
      }
    }

    .hello {
      font-size: 2em;
      margin-top: 1rem;
      line-height: 1.5rem;
    }

    h2 {
      color: var(--text-color-secondary);
      line-height: 1rem;
    }
    p {
      margin-top: 2rem;
      max-width: variables.$mobile;
      line-height: 1.3rem;
      font-size: 0.9rem;
    }
    ul {
      display: flex;
      gap: 1rem;
      display: flex;
      margin-top: 1rem;

      list-style: none;
      li {
        transition: scale ease 150ms;
        a {
          svg {
            height: 2rem;
            width: auto;
            fill: var(--text-color);
          }
        }
      }
      li:hover {
        scale: 1.3;
      }
    }
  }
  .underlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../../../public/bD24_pattern.svg');
    @media (prefers-color-scheme: dark) {
      background-image: url('../../../public/bD24_pattern_white.svg');
    }

    background-repeat: space round;
    background-size: 4rem;

    filter: opacity(0.1);
  }
}
.boxShadow {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -50px 100px 50px var(--bg-color);
}
