@use '../utils/variables';

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh);
    color: variables.$text-color-rev;

    .headerBackground {
        position: absolute;
        top: 0;
        background-color: variables.$accent-color;
        height: 100vh;
        width: 100vw;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        overflow-x: hidden;
    }

    .headerBackground::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;

        border-top: 100px solid transparent;
        border-right: calc(100vw - 400px) solid variables.$body-color;
        @media screen and (max-width: 450px) {
            border-right: calc(100vw - 200px) solid variables.$body-color;
        }
    }

    .headerBackground::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        border-top: 100px solid transparent;
        border-left: calc(100vw - 20px) solid variables.$body-color;

        z-index: 1;
        @media screen and (max-width: 450px) {
            border-right: calc(100vw - 200px) solid variables.$body-color;
        }
    }
}

.titleWrapper {
    transform: translateY(-15%);
    text-align: center;

    h1 {
        margin-top: -50px;
        font-size: 3rem;
        color: rgba($color: #fff, $alpha: 0.92);
        @media screen and (max-width: 450px) {
            font-size: 2.5rem;
        }
    }

    .hello {
        font-size: 10rem;
        font-family: 'pacifico';

        background: -webkit-linear-gradient(#3a00ce, #3a00ce, #3a00ce, #330099, #330099);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        // line-height: 1.4;
        @media screen and (max-width: 450px) {
            font-size: 7rem;
        }
    }

    h2 {
        font-size: 2rem;

        color: variables.$alpha-color-rev;

        @media screen and (max-width: 450px) {
            font-size: 1.5rem;
        }
    }
}
