@use '../utils/variables';
@use '../utils/mixins';

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1rem;
    gap: 1rem;
    // height: 100vh;
    // margin-top: 10px;

    align-items: center;
    justify-content: space-evenly;

    min-height: calc(100vh);
    color: variables.$text-color-rev;
    // width: 100vw;
    overflow-x: hidden;

    // @include mixins.laptop {
    // margin-top: 50px;
    // flex-direction: column-reverse;
    // }
    .headerBackground {
        position: absolute;
        top: 0;
        // background-color: variables.$accent-color;
        background-color: variables.$accent-color;
        background-image: linear-gradient(
            variables.$accent-color 0%,
            variables.$accent-color 50%,
            variables.$accent-color-shadow 100%
        );
        height: 100vh;
        width: 100vw;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        overflow-x: hidden;
        // @include mixins.tablet {
        //     width: 101vw;
        // }
    }

    .headerBackground::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;

        border-top: 100px solid transparent;
        border-right: calc(100vw - 400px) solid variables.$body-color;
        @include mixins.mobile {
            border-right: calc(100vw - 200px) solid variables.$body-color;
        }
    }
    .headerBackground::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        border-top: 100px solid transparent;
        border-left: calc(100vw - 20px) solid variables.$body-color;

        z-index: 1;
        @include mixins.mobile {
            border-right: calc(100vw - 200px) solid variables.$body-color;
        }
    }

    img {
        height: 350px;
        width: auto;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        // box-shadow: 2px 2px 10px black;
        @include mixins.mobile {
            height: 250px;
            width: auto;
        }
    }
    .titleWrapper {
        // display: flex;
        // flex-direction: column;
        // gap: 0.2rem;
        // padding: 1rem;
        // transform: translateY(-15%);
        color: variables.$accent-color-secondary;
        // text-align: center;

        h1 {
            // margin-top: -50px;
            font-size: 3rem;
            color: rgba($color: #fff, $alpha: 0.9);
            @include mixins.mobile {
                font-size: 2.5rem;
            }
        }

        .hello {
            font-size: 2rem;
            color: variables.$accent-color-secondary;
            // font-family: 'pacifico';

            // background: -webkit-linear-gradient(#3a00ce, #3a00ce, #3a00ce, #330099, #330099);
            // background-clip: text;
            // -webkit-text-fill-color: transparent;

            // @include mixins.mobile {
            // font-size: 7rem;
            // }
        }

        h2 {
            font-size: 2rem;

            // color: variables.$alpha-color-rev;

            @include mixins.mobile {
                font-size: 1.5rem;
            }
        }
        p {
            margin-top: 1rem;
            max-width: variables.$mobile;
            line-height: 1.3rem;

            font-size: 0.9rem;
        }
        ul {
            display: flex;
            gap: 1rem;
            display: flex;
            margin: 1rem;
            color: white;

            list-style: none;
            li {
                transition: scale ease 150ms;
                a {
                    color: variables.$accent-color-secondary;
                    svg {
                        height: 2rem;
                        width: auto;
                    }
                }
            }
            li:hover {
                scale: 1.2;
            }
        }
    }
}
