@use '../utils/variables';
@use '../utils/mixins';

main.myWork {
  h1 {
    margin-bottom: 3rem;
    @include mixins.mobile {
      font-size: 3rem;
    }
  }
  .searchUI {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input[type='search'] {
      padding: 0.5rem;

      border: 2px solid transparent;
      border-radius: 0.2rem;
      outline: none;

      border-bottom: 2px solid var(--border-color);

      transition: 250ms;
      background-color: transparent;
      font-size: 1rem;
    }
    input[type='search']:focus {
      border: 2px solid var(--text-color);
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 1rem;

    margin-bottom: 2rem;
    max-width: variables.$mobile;
    button {
      width: 60px;
      padding: 0.5rem;
      font-size: 12px;

      background-color: var(--bg-color-secondary);
      color: var(--text-color);

      border: 2px solid transparent;
      border-radius: 5px;
      box-shadow: 2px 2px 2px transparent;

      cursor: pointer;

      transition: background-color ease 100ms, color ease 100ms;
    }

    button.active {
      background-color: var(--text-color-secondary);
      color: var(--bg-color);
    }
  }
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    a {
      text-decoration: none;

      @include mixins.mobile {
        width: 100%;
      }
      .card {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        gap: 0.5rem;

        padding: 1.5rem;
        min-height: 300px;
        width: 232px;

        // transform-origin: bottom;

        background-color: var(--bg-color);
        border-radius: 0.25rem;

        box-shadow: 0px 0px 8px var(--bg-color-secondary);
        border: 1px solid var(--border-color);
        cursor: pointer;

        transition: transform ease-out 200ms, color ease-out 200ms, border ease-out 200ms,
          background-color 200ms;

        @include mixins.mobile {
          width: 100%;
        }

        img {
          width: 200px;
          aspect-ratio: 2/1;
          object-fit: cover;
          object-position: top;
          align-self: center;

          padding-right: 1rem;
          padding-left: 1rem;
          filter: grayscale(50%);
          border-bottom: 1px solid var(--border-color);
          transition: filter ease-out 200ms;
        }

        h3 {
          margin-top: 0.5rem;
          color: var(--text-color-secondary);
          transition: color ease-out 200ms;
        }
        p {
          font-size: 14px;
          color: var(--text-color-tertiary);

          transition: color ease-out 200ms;
        }
        ul {
          list-style: none;

          display: flex;
          flex-wrap: wrap;
          gap: 1rem;

          li {
            font-size: 12px;
            color: var(--text-color-tertiary);

            font-family: monospace;

            transition: color ease-out 200ms;
          }
        }
      }
    }
    .card:hover {
      transform: translate(0, -5%);
      background-color: var(--card-bg);
      border: 1px solid var(--bg-color-tertiary);
      box-shadow: 0px 0px 8px var(--bg-color-tertiary);
      h3 {
        color: var(--text-color);
      }
      p {
        color: var(--text-color-secondary);
      }
      ul li {
        color: var(--text-color-secondary);
      }
      img {
        filter: grayscale(0%);
        border-bottom: 1px solid var(--bg-color-tertiary);
      }
      @include mixins.mobile {
        transform: translate(0, 0);
      }
    }
  }
}
