@use '../utils/mixins';
@use '../utils/variables';
main.skills {
  h1 {
    margin-bottom: 3rem;
    @include mixins.mobile {
      font-size: 3rem;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    div.card {
      padding: 1.5rem;

      background-color: var(--white);
      border-radius: 5px;

      border: 1px solid var(--black-transparent02);

      overflow: hidden;

      box-shadow: 0px 0px 8px var(--black-transparent02);
      .underlay {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 70%;
        left: 70%;
        svg {
          height: auto;
          width: 400px;
          fill: var(--black-transparent02);
        }
      }
      h2 {
        display: flex;
        align-items: center;

        margin-bottom: 0.5rem;
        // color: variables.$accent-color;
        svg {
          scale: 1.6;
          margin: 0 0.6rem;
          // fill: variables.$accent-color;
        }
        span {
          display: flex;
          flex-wrap: wrap;
          gap: 0.3rem;

          // @include mixins.mobile {
          //   gap: 0;
          // }
        }
      }
      h2 .light-font {
        font-weight: 300;
        font-size: 1rem;
        align-self: center;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        li {
          list-style-position: inside;
          // line-height: 1.3rem;
        }
      }
    }
  }
}
