@use '../utils/mixins';
@use '../utils/variables';
main.skills {
  h1 {
    margin-bottom: 3rem;
    @include mixins.mobile {
      font-size: 3rem;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    div.card {
      padding: 1.5rem;

      background-color: var(--card-bg);
      border-radius: 5px;

      border: 1px solid var(--border-color);

      overflow: hidden;

      // box-shadow: 0px 0px 8px var(--border-color);
      .underlay {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 70%;
        left: 70%;

        z-index: -1;
        svg {
          height: auto;
          width: 400px;
          fill: var(--overlay-color);
        }
      }
      h2 {
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        font-size: 1.8em;

        display: flex;
        align-items: center;
        justify-content: start;

        gap: 1rem;

        margin-bottom: 1rem;
        svg {
          width: 3rem;
          height: auto;
        }
        // div {
        // }
      }
      // h2 span div.light-font
      .light-font {
        font-weight: 300;
        font-size: 1rem;
        align-self: end;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        li {
          margin-left: 1rem;
          line-height: 1.3;
        }
      }
    }
  }
}
