@use '../utils/mixins';
@use '../utils/variables';
main.skills {
  h2 .light-font {
    font-weight: 300;
    font-size: 1.2rem;
  }
  ul {
    // list-style: none;
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
